
{
  font-size   : 1em;
  line-height : -webkit-calc(1.39999 * 1em);
  line-height : -moz-calc(1.39999 * 1em);
  line-height : -ms-calc(1.39999 * 1em);
  line-height : -o-calc(1.39999 * 1em);
  line-height : calc(1.39999 * 1em);
}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightCmdBlockEntry
{
0.0% 
{
  color : #ffffff;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-moz-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-ms-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-o-keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@keyframes HighlightKernelCmdBlockEntry
{
0.0% 
{
  color : #222222;
}

25.0% 
{
  color : #0000ff;
}

50.0% 
{
  color : #ffffff;
}

100.0% 
{
  color : #ffffff;
}

}

@-webkit-keyframes cssAnimation
{
0.0% 
{
  -webkit-transform : translateX(0em);
  -moz-transform    : translateX(0em);
  -ms-transform     : translateX(0em);
  -o-transform      : translateX(0em);
  transform         : translateX(0em);
}

20.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

80.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

100.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

}

@-moz-keyframes cssAnimation
{
0.0% 
{
  -webkit-transform : translateX(0em);
  -moz-transform    : translateX(0em);
  -ms-transform     : translateX(0em);
  -o-transform      : translateX(0em);
  transform         : translateX(0em);
}

20.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

80.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

100.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

}

@-ms-keyframes cssAnimation
{
0.0% 
{
  -webkit-transform : translateX(0em);
  -moz-transform    : translateX(0em);
  -ms-transform     : translateX(0em);
  -o-transform      : translateX(0em);
  transform         : translateX(0em);
}

20.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

80.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

100.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

}

@-o-keyframes cssAnimation
{
0.0% 
{
  -webkit-transform : translateX(0em);
  -moz-transform    : translateX(0em);
  -ms-transform     : translateX(0em);
  -o-transform      : translateX(0em);
  transform         : translateX(0em);
}

20.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

80.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

100.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

}

@keyframes cssAnimation
{
0.0% 
{
  -webkit-transform : translateX(0em);
  -moz-transform    : translateX(0em);
  -ms-transform     : translateX(0em);
  -o-transform      : translateX(0em);
  transform         : translateX(0em);
}

20.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

80.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

100.0% 
{
  -webkit-transform : translateX(16em);
  -moz-transform    : translateX(16em);
  -ms-transform     : translateX(16em);
  -o-transform      : translateX(16em);
  transform         : translateX(16em);
}

}

@-webkit-keyframes spin-gears
{
0.0% 
{
  opacity : 0;
}

16.6% 
{
  -webkit-transform : rotate(0deg);
  -moz-transform    : rotate(0deg);
  -ms-transform     : rotate(0deg);
  -o-transform      : rotate(0deg);
  transform         : rotate(0deg);
  opacity           : 1;
}

83.3% 
{
  -webkit-transform : rotate(300deg);
  -moz-transform    : rotate(300deg);
  -ms-transform     : rotate(300deg);
  -o-transform      : rotate(300deg);
  transform         : rotate(300deg);
  opacity           : 1;
}

100.0% 
{
  -webkit-transform : rotate(360deg);
  -moz-transform    : rotate(360deg);
  -ms-transform     : rotate(360deg);
  -o-transform      : rotate(360deg);
  transform         : rotate(360deg);
  opacity           : 0;
}

}

@-moz-keyframes spin-gears
{
0.0% 
{
  opacity : 0;
}

16.6% 
{
  -webkit-transform : rotate(0deg);
  -moz-transform    : rotate(0deg);
  -ms-transform     : rotate(0deg);
  -o-transform      : rotate(0deg);
  transform         : rotate(0deg);
  opacity           : 1;
}

83.3% 
{
  -webkit-transform : rotate(300deg);
  -moz-transform    : rotate(300deg);
  -ms-transform     : rotate(300deg);
  -o-transform      : rotate(300deg);
  transform         : rotate(300deg);
  opacity           : 1;
}

100.0% 
{
  -webkit-transform : rotate(360deg);
  -moz-transform    : rotate(360deg);
  -ms-transform     : rotate(360deg);
  -o-transform      : rotate(360deg);
  transform         : rotate(360deg);
  opacity           : 0;
}

}

@-ms-keyframes spin-gears
{
0.0% 
{
  opacity : 0;
}

16.6% 
{
  -webkit-transform : rotate(0deg);
  -moz-transform    : rotate(0deg);
  -ms-transform     : rotate(0deg);
  -o-transform      : rotate(0deg);
  transform         : rotate(0deg);
  opacity           : 1;
}

83.3% 
{
  -webkit-transform : rotate(300deg);
  -moz-transform    : rotate(300deg);
  -ms-transform     : rotate(300deg);
  -o-transform      : rotate(300deg);
  transform         : rotate(300deg);
  opacity           : 1;
}

100.0% 
{
  -webkit-transform : rotate(360deg);
  -moz-transform    : rotate(360deg);
  -ms-transform     : rotate(360deg);
  -o-transform      : rotate(360deg);
  transform         : rotate(360deg);
  opacity           : 0;
}

}

@-o-keyframes spin-gears
{
0.0% 
{
  opacity : 0;
}

16.6% 
{
  -webkit-transform : rotate(0deg);
  -moz-transform    : rotate(0deg);
  -ms-transform     : rotate(0deg);
  -o-transform      : rotate(0deg);
  transform         : rotate(0deg);
  opacity           : 1;
}

83.3% 
{
  -webkit-transform : rotate(300deg);
  -moz-transform    : rotate(300deg);
  -ms-transform     : rotate(300deg);
  -o-transform      : rotate(300deg);
  transform         : rotate(300deg);
  opacity           : 1;
}

100.0% 
{
  -webkit-transform : rotate(360deg);
  -moz-transform    : rotate(360deg);
  -ms-transform     : rotate(360deg);
  -o-transform      : rotate(360deg);
  transform         : rotate(360deg);
  opacity           : 0;
}

}

@keyframes spin-gears
{
0.0% 
{
  opacity : 0;
}

16.6% 
{
  -webkit-transform : rotate(0deg);
  -moz-transform    : rotate(0deg);
  -ms-transform     : rotate(0deg);
  -o-transform      : rotate(0deg);
  transform         : rotate(0deg);
  opacity           : 1;
}

83.3% 
{
  -webkit-transform : rotate(300deg);
  -moz-transform    : rotate(300deg);
  -ms-transform     : rotate(300deg);
  -o-transform      : rotate(300deg);
  transform         : rotate(300deg);
  opacity           : 1;
}

100.0% 
{
  -webkit-transform : rotate(360deg);
  -moz-transform    : rotate(360deg);
  -ms-transform     : rotate(360deg);
  -o-transform      : rotate(360deg);
  transform         : rotate(360deg);
  opacity           : 0;
}

}

@-webkit-keyframes fadeoutArrow
{
0.0% 
{
  opacity : 1;
}

83.3% 
{
  opacity : 1;
}

100.0% 
{
  opacity : 0;
}

}

@-moz-keyframes fadeoutArrow
{
0.0% 
{
  opacity : 1;
}

83.3% 
{
  opacity : 1;
}

100.0% 
{
  opacity : 0;
}

}

@-ms-keyframes fadeoutArrow
{
0.0% 
{
  opacity : 1;
}

83.3% 
{
  opacity : 1;
}

100.0% 
{
  opacity : 0;
}

}

@-o-keyframes fadeoutArrow
{
0.0% 
{
  opacity : 1;
}

83.3% 
{
  opacity : 1;
}

100.0% 
{
  opacity : 0;
}

}

@keyframes fadeoutArrow
{
0.0% 
{
  opacity : 1;
}

83.3% 
{
  opacity : 1;
}

100.0% 
{
  opacity : 0;
}

}

.original-ipc-cmd-block-entry0
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry0
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 0.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry1
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry1
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 1.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry2
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry2
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 2.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry3
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry3
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 3.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry4
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry4
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 4.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry5
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry5
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 5.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry6
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry6
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 6.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry7
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry7
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 7.0s 1 normal forwards;
}

.original-ipc-cmd-block-entry8
{
  color             : #ffffff;
  -webkit-animation : HighlightCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -moz-animation    : HighlightCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -ms-animation     : HighlightCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -o-animation      : HighlightCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  animation         : HighlightCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
}

.kernel-ipc-cmd-block-entry8
{
  color             : #222222;
  -webkit-animation : HighlightKernelCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -moz-animation    : HighlightKernelCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -ms-animation     : HighlightKernelCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  -o-animation      : HighlightKernelCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
  animation         : HighlightKernelCmdBlockEntry 4.0s ease-out 8.0s 1 normal forwards;
}

.copied-ipc-cmd-block
{
  -webkit-animation : cssAnimation 9.0s ease-in-out 9.0s 1 normal forwards;
  -moz-animation    : cssAnimation 9.0s ease-in-out 9.0s 1 normal forwards;
  -ms-animation     : cssAnimation 9.0s ease-in-out 9.0s 1 normal forwards;
  -o-animation      : cssAnimation 9.0s ease-in-out 9.0s 1 normal forwards;
  animation         : cssAnimation 9.0s ease-in-out 9.0s 1 normal forwards;
  overflow          : hidden;
}

.spin-gears
{
  text-decoration   : none;
  -webkit-animation : spin-gears 6.0s linear 11.0s 1 normal none;
  -moz-animation    : spin-gears 6.0s linear 11.0s 1 normal none;
  -ms-animation     : spin-gears 6.0s linear 11.0s 1 normal none;
  -o-animation      : spin-gears 6.0s linear 11.0s 1 normal none;
  animation         : spin-gears 6.0s linear 11.0s 1 normal none;
  display           : inline-block;
  opacity           : 0;
}

.spin-gears::before
{
  content : "⚙";
}

.fadeoutArrow
{
  -webkit-animation : fadeoutArrow 1.0s linear 7.0s 1 normal forwards;
  -moz-animation    : fadeoutArrow 1.0s linear 7.0s 1 normal forwards;
  -ms-animation     : fadeoutArrow 1.0s linear 7.0s 1 normal forwards;
  -o-animation      : fadeoutArrow 1.0s linear 7.0s 1 normal forwards;
  animation         : fadeoutArrow 1.0s linear 7.0s 1 normal forwards;
}

.fadeoutArrow2
{
  -webkit-animation : fadeoutArrow 2.0s linear 8.5s 1 normal forwards;
  -moz-animation    : fadeoutArrow 2.0s linear 8.5s 1 normal forwards;
  -ms-animation     : fadeoutArrow 2.0s linear 8.5s 1 normal forwards;
  -o-animation      : fadeoutArrow 2.0s linear 8.5s 1 normal forwards;
  animation         : fadeoutArrow 2.0s linear 8.5s 1 normal forwards;
}

.animated-slide
{
  opacity : 1;
}

.link-for-reload
{
  top               : -10px;
  left              : 0px;
  width             : 1000%;
  height            : 1000px;
  position          : absolute;
  display           : block;
  background        : #222222;
  z-index           : 5000;
  opacity           : 0;
  -webkit-animation : hideContent 1.0s linear 20.0s 1 normal forwards;
  -moz-animation    : hideContent 1.0s linear 20.0s 1 normal forwards;
  -ms-animation     : hideContent 1.0s linear 20.0s 1 normal forwards;
  -o-animation      : hideContent 1.0s linear 20.0s 1 normal forwards;
  animation         : hideContent 1.0s linear 20.0s 1 normal forwards;
}

@-webkit-keyframes hideContent
{
0.0% 
{
  opacity : 0;
}

100.0% 
{
  opacity : 1;
}

}

@-moz-keyframes hideContent
{
0.0% 
{
  opacity : 0;
}

100.0% 
{
  opacity : 1;
}

}

@-ms-keyframes hideContent
{
0.0% 
{
  opacity : 0;
}

100.0% 
{
  opacity : 1;
}

}

@-o-keyframes hideContent
{
0.0% 
{
  opacity : 0;
}

100.0% 
{
  opacity : 1;
}

}

@keyframes hideContent
{
0.0% 
{
  opacity : 0;
}

100.0% 
{
  opacity : 1;
}

}


/* Generated with Clay, http://fvisser.nl/clay */