[submodule "cpplondon_feb2018"]
	path = cpplondon_feb2018
	url = https://github.com/neobrain/presentations
	branch = cpplondon_feb2018_dev
[submodule "ndcoslo_jun2018"]
	path = ndcoslo_jun2018
	url = https://github.com/neobrain/presentations
	branch = ndcoslo_jun2018_dev
[submodule "cppnow_may2018"]
	path = cppnow_may2018
	url = https://github.com/neobrain/presentations
	branch = cppnow_may2018_dev
[submodule "generative_and_declarative_3ds"]
	path = Generative and Declarative Programming in Action - Emulating the 3DS
	url = https://github.com/neobrain/presentations
	branch = generative_and_declarative_3ds_dev
